{% extends "layout.html" %}

{% block body %}

<div class="panel panel-success">
  <div class="panel-heading">Download</div>
  <div class="panel-body">
    <br/>
    <a href="{{url_for('download')}}" class="btn btn-sm btn-info"> Click to download dataset </a>
    <br/>
    .csv format, compressed
    <br/><br/>
  </div>
</div>



<div class="panel panel-success">
  <div class="panel-heading">Cite this source</div>
  <div class="panel-body">
    <br/>
    <strong>
    Sun, J. ({{ now.year }}). World Aircraft Database [Data file]. Retrieved from http://junzis.com/adb/data
    </strong>
    <br/>

    <hr/>
or, in bibtex:
<pre>
@misc{Sun{{now.year}}adb,
  author = {Sun, Junzi},
  year = {{now.year}},
  title = {World Aircraft Database [Data file]},
  note = {Retrieved from http://junzis.com/adb/data}
}
</pre>

    <br/>
  </div>
</div>


<script type="text/javascript">
  $(window).load(function () {
    $("#license-text").show();
  });
</script>

{% endblock %}
