<strong>Quick search by aircraft ICAO address </strong>
<form method="post" accept-charset="utf-8" role="form" class="form-inline" action="{{url_for('index')}}">
	<div class="form-group text required">
		<input class="form-control" id="search-flight-id" name="q" required="required" style="font-family:courier;font-size:16px" placeholder="0011AA" />
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary btn btn-default" value="Search">
	</div>
</form>
<div class="help-block">
	<strong><a href="#" id='advance-search-toggle'> + Advance Query of aircraft type, model, tail number, or operator</a></strong>
</div>

<form id="advance-search-form" method="post" accept-charset="utf-8" role="form" class="form-inline" action="{{url_for('search')}}" style="display:none">
	<div class="form-group">
		<select class="form-control" name="n" required="required" >
			<option value="">-- Select Field --</option>
			<option value="icao">ICAO Address</option>
			<option value="regid">Reg. ID (tail no.)</option>
			<option value="mdl">Model</option>
			<option value="type">Aicraft Type</option>
			<option value="owner">Operator</option>
		</select>
	</div>
	<div class="form-group text required">
		<input class="form-control" id="search-flight-id" name="q" placeholder="Contains" required="required" />
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary btn btn-info" value="Query">
	</div>
</form>

<hr/>

<script type="text/javascript">
	$("#advance-search-toggle").click(function(){
		$("#advance-search-form").slideToggle();
	})
</script>
