{% extends "layout.html" %}

{% block body %}

    <h3>Statistics</h3>
    <hr/>

    <a class="btn btn-success" href="{{url_for('top20')}}"> View TOP (20) Statistics </a>

    <br/><br/>

    <a class="btn btn-success" href="{{url_for('treemap')}}"> Airline and Airraft Treemap </a>

    <br/><br/>

    <a class="btn btn-success" href="{{url_for('realtime_geo_histo')}}"> Realtime Air Trafic Geo-Histogram </a>

    <br/><br/>

    <a class="btn btn-success" href="{{url_for('realtime_traffic')}}"> Realtime Air Traffic Flow</a>

    <br/><br/>

    <a class="btn btn-success" href="{{url_for('realtime_density_plot')}}"> Realtime Air Traffic Density Plot</a>

{% endblock %}