{% extends "layout.html" %}

{% block body %}

<h3>Realtime airtrafic flow</h3>
Current sky aircraft flow at: 
<script> var d = new Date(); document.write(d.toLocaleString()); </script>
<hr/>

<style>

.overlay {
  fill: none;
  pointer-events: all;
}

</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.min.js"></script>

<form id="parmform"> 
    <div class="form-group">
        <label>Every N data: </label>
        <input id="nth" type="number" name="nth" value='1' /> 
    </div>
</form>


<div>
    <svg id="traffic_chart" style="border:1px solid #ccc;"></svg>
</div>

<script>
var data = {{ data|safe }}
var nth = 1

var width = 900
var height = 450
var svg = d3.select("#traffic_chart")
            .attr("width", width).attr("height", height)
            .append("g")
            .call(d3.behavior.zoom().scaleExtent([1, 8]).on("zoom", zoom))
            .append("g");

svg.append("svg:image")
    .attr("width", width)
    .attr("height", height)
    .attr("xlink:href", "{{ url_for('static', filename='earth.png') }}")
    .style('opacity', 0.1)
    ;


var scale_x = d3.scale.linear().domain([-180, 180]).range([0, width]);
var scale_y = d3.scale.linear().domain([-90, 90]).range([height, 0]);

drawdata(data)

function drawdata(data) {
    svg.selectAll(".acs").remove();
    var acs = svg.selectAll("g.node").data(data);
    acs.enter().append("circle")
        .attr("class", "acs")
        .attr("r", 0.5)
        .attr("cx", function(d){return scale_x(d[1])})
        .attr("cy", function(d){return scale_y(d[0])})
        .style("fill", 'steelblue')
        .style("stroke-width", 0)
        .style("opacity", 0.8)
        ;
    acs.enter().append("line")
        .attr("class", "acs")
        .attr("x1", function(d){return scale_x(d[1])})
        .attr("y1", function(d){return scale_y(d[0])})
        .attr("x2", function(d){return scale_x(d[1]) + d[2]*Math.sin(d[3]) / 100})
        .attr("y2", function(d){return scale_y(d[0]) + d[2]*Math.cos(d[3]) / 100})
        .style("stroke-width", 0.2)
        .style("stroke-opacity", 0.9)
        .style("stroke", 'red')
        ;
}

function zoom() {
    svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}


$( "#parmform" ).submit(function( event ) {
    event.preventDefault();
});

$( "#nth" ).change(function() {
    var nth = parseInt($("#nth").val());

    if (nth > 0) {
        var selected = [];
        for (var i=0; i<data.length; i=i+nth) {
            selected.push(data[i]);
        }
        drawdata(selected);
    }
});

</script>

{% endblock %}